<%= render :partial=>'shared/jumbo_title', :locals => {:title=>'Log in'} %>


<div class="row-fluid">
  <div class="span6">
    <div class='well'>
      <%= form_tag sessions_path, :class=>'simple_form form-horizontal' do %>
          <div class="control-group password required">
            <%= label_tag :email, 'Email <abbr title="required">*</abbr>'.html_safe, :class=>'email required control-label' %>

            <div class="controls">
              <%= text_field_tag :email, params[:email], :size=>50 %>
            </div>
          </div>

          <div class="control-group password required">
            <%= label_tag :password, 'Password <abbr title="required">*</abbr>'.html_safe, :class=>'password required control-label' %>
            <div class="controls">
              <%= password_field_tag :password, params[:password], :size=>50, :type=>'password' %>
            </div>
          </div>

          <div class="form-actions">
            <%= submit_tag "Log in", :class=>'btn btn-primary btn-large' %>
            <%= link_to 'Cancel', :back, :class => 'btn btn-danger btn-mini' %>
          </div>
      <% end %>


    </div>

  </div>
  <div class="span1">OR</div>
  <div class="span4">
    <div class=''>
      <%= link_to "Connect using your Facebook Account", @fb_connect_url, :class => 'btn btn-facebook btn-large' %>
    </div>
  </div>
</div>

